*{
    margin: 0;
    padding: 0;
}

.card{
    margin: 0;
    display: flex;
    align-items: center;
    background-color: crimson;
    filter: opacity(0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 40%;
    height: auto;
    color: white;
    margin-bottom: 20px;
}

.card:hover{
    filter: opacity(1);
}

/* .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} */

h1{
    word-break:keep-all;
}
figure{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

p{
    color: black;
}
.link{
    color: white;
    text-decoration: none;
}


